* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


/* MODAL HERE*/

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
    
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
/* MODAL END*/


h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
}
.textForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;

}
input[type="number"],
input[type="text"] {
    margin: 10px 0;
}
.groupBtn {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
.btn-primary {
    margin: 10px;
    width: 100px
}


/* 
BookContainer */
.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    border: 1px solid black;
    padding: 80px;
  }
  
  .bookBox {
    display: grid;
   
    /* grid-template-columns: 250px 100px 100px 100px; */
  
  }
  
  
  .card-2,
  .card,
  .bookHeader {
    display: grid;
    background-color: black;
    color:white;
    gap: 30px;
    padding: 15px;
    grid-template-columns:  250px 100px 100px 100px 100px;
  }
  
  .card {
    background-color: #db2777;
    color:#fbcfe8;
  }
  .card-2 {
    grid-template-columns:  250px 100px 100px 100px 100px;
    background-color: #db2777;
  }
  /* 
BookContainer */


.formStyle {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.button-group > button[type="button"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    gap: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-group > button[type="button"]:focus{
        background-color: red;
}